footer {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
}

.footer-container {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1080px;
    margin: 0 auto;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
    border-right: 2px dashed rgba(128, 128, 128, 0.377);
}

.footer-logo {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.text{
    position: absolute;
    top: 37px;
    left: 30px;
}

.footer-logo h2 {
    font-size: 28px;
    color: #0A2540;
}

.footer-logo span {
    color: #0A2540;
    font-size: 14px;
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    padding: 0 16px;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
}

.footer-column h3 {
    font-size: 13.59px;
    margin-bottom: 10px;
    color: #0A2540;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #0A2540;
    transition: .2s ease;
}

.footer-column ul li a:hover {
    color: #0a254042;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #364657;
    font-size: 13.71px;

}

.united-icon {
    position: relative;

}

.united-icon img {
    position: absolute;
    left: 0;
    top: 4px;
}