.globe-container {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f9fc;
    z-index: -2;
    overflow: hidden;
}


.linear-border {
    height: 100%;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
    border-right: 2px dashed rgba(128, 128, 128, 0.377);
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: -1;
}

.globe-content {
    width: 100vw;
    background: #000011;
    clip-path: polygon(0 20%, 100% 70px, 100% 100%, 0% 100%);
    position: relative;
    color: #fff;
    padding: 0 0 0 16px;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.globe-content-wrapper {
    gap: 96px;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
    border-right: 2px dashed rgba(128, 128, 128, 0.377);
    display: flex;
    flex-direction: column;
    margin: 287px 0 128px 0;
    width: clamp(347px, 100%, 1080px);

}

.globe-container iframe {
    height: 150%;
    width: 100vw;
    position: absolute;
    left: 641px;
    bottom: -290px;
    border: none;
    scrollbar-width: none;
    z-index: 90;
}

.global-comrce-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    z-index: 100;
}

.global-comrce-content h6 {
    color: rgba(0, 212, 255, 1);
    z-index: 100;
    font-weight: 500;
    font-size: 16px;
}

.global-comrce-content h2 {
    font-size: 36px;
    line-height: 48px;
    color: #fff;
    font-weight: 500;
    width: 300px;
}

.global-comrce-content p {
    color: rgba(173, 189, 204, 1);
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    width: clamp(315px, 100%, 400px);



}

.globe-footer {
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
    gap: 20px;
}

.saba {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.global-comrce-footer {
    height: 88px;
    width: clamp(248px, 100%, 270px);
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.global-comrce-footer h4 {
    border-left: 1px solid rgba(0, 212, 255, 1);
    padding-left: 16px;
    transition: .3s ease;
    line-height: 32px;
    font-size: 23.44px;
}

.global-comrce-footer h4:hover {
    border-left: 1px solid rgba(0, 0, 0, 0.237);
}

.global-comrce-footer p {
    padding-left: 16px;
    line-height: 24px;
    font-size: 13.71px;
}

.strype-serivce {
    color: rgba(0, 212, 255, 1);
}

@media screen and (max-width: 1024px) {
    .linear-border {
        width: 992px;

    }

    .globe-container iframe {
        right: 0;

    }

    .global-comrce-footer {
        width: 368px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .globe-content {
        clip-path: polygon(0px 19%, 100% 119px, 100% 100%, 0% 100%);
    }
    .globe-container iframe {
        left: 0;
    }
}


@media screen and (max-width: 390px) {
    .global-comrce-footer {
        width: 347px;
    }
}