.hero-container {
    display: flex;
    justify-content: center;
    height: 840px;
}


.hero-container-wrapper {
    width: 1080px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
    border-right: 2px dashed rgba(128, 128, 128, 0.377);
}

header {
    font-family: sans-serif;

    display: flex;
    justify-content: space-between;
    gap: 245px;
    align-items: center;
    padding: 12px 16px 12px 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
}

header nav {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.company-name {
    font-weight: 1000;
    font-size: 1.5rem;
    margin: 5.5px 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 523.55px;
    font-size: 14.18px;
    font-weight: 500;
}

header nav ul li {
    transition: .3s ease;
}

header nav ul li:hover {
    color: rgba(0, 0, 0, 0.281);
}

.contact-sales {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 215px;
}

.contact-sales-holder {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 13.95px;
}

.contact-sales a {
    color: #fff;
}

.contact-sales-holder img {
    position: absolute;
    right: -17px;
    top: 4px;
    transition: 0.3s ease;
}

.contact-sales-holder:hover img {
    transform: translateX(5px);
}

.contact-sales button {
    padding: 7px 23px 6px 16px;
    display: inline-flex;
    align-items: center;
    gap: 4.8px;
    width: 91.22px;
    height: 33px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(225, 133, 56, 1);
    border: none;
    border-radius: 16.5px;
    font-size: 13.83px;
    position: relative;
}

.contact-sales button:hover{
    background-color: rgba(0, 0, 0, 0.26);
    transition: .3s ease;
}

.contact-sales button img {
    transition: 0.3s ease-in-out;
}

.contact-sales button:hover img{
    transform: translateX(4px);
}

.universal-button {
    position: relative;
}

.polygon {
    height: 580px;
    width: 100vw;
    background: hsla(266, 77%, 68%, 1);
    background-image:
        radial-gradient(at 42% 0%, hsla(40, 100%, 67%, 0) 0px, transparent 50%),
        radial-gradient(at 47% 4%, hsla(198, 100%, 76%, 0) 0px, transparent 50%),
        radial-gradient(at 20% 32%, hsla(356, 100%, 59%, 0) 0px, transparent 50%),
        radial-gradient(at 85% 48%, hsla(266, 77%, 68%, 0) 0px, transparent 50%),
        radial-gradient(at 77% 44%, hsla(356, 100%, 59%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(198, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(40, 100%, 67%, 1) 0px, transparent 50%);
    position: absolute;
    background-size: 200% 200%;
    animation: wave-animation 15s ease-in-out infinite;
    clip-path: polygon(0% 0%, 0% 100%, 165% 0%);
    z-index: 5;
}

@keyframes wave-animation {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 25% 50%;
    }

    50% {
        background-position: 75% 100%;
    }

    75% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.financial {
    z-index: 10;
    margin-top: 165px;
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 10px 0 10px 10px;
}

.financial h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.407);
    color: #fff;
    padding: 5px 10px;

    border-radius: 30px;
}

.session {
    font-weight: 1000;
}

.financial h3 img {
    margin-left: 5px;
    transition: .3s ease;
}

.financial h3:hover img {
    transform: translateX(5px);
}

.financial h2 {
    color: black;
    font-weight: 600;
    font-size: 83px;
    max-width: 560px;
    width: 100%;
    line-height: 97.76px;
}

.financial p {
    width: 471px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
}

.chart-images {
    position: absolute;
    top: 140px;
    right: -420px;
    z-index: 8;
}

.phone-img {
    position: absolute;
    top: 202px;
    right: 60px;
    z-index: 999;
}

.contact-sales-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-btn {
    background-color: rgba(10, 37, 64, 1);
    padding: 0 0 0 16px;
    display: flex;
    align-items: center;
    border-radius: 15.5px;
    width: 111px;
    height: 33px;
    position: relative;
}

.contact-btn button {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
}

.contact-btn img {
    position: absolute;
    top: 13px;
    right: 17px;
    transition:.3s ease;
}

.contact-btn{
    transition: .3s ease;
}

.contact-btn:hover{
    background-color: rgba(128, 128, 128, 0.693);
}

.contact-btn:hover img {
    transform: translateX(5px);
}

.contact-sales-btn {
    display: flex;
    align-items: center;
    position: relative;
}

.contact-sales-btn h4 {
    color: rgba(10, 37, 64, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.contact-sales-btn img {
    position: fixed;
    top: 7px;
    right: -12px;
}

/* @media screen and (max-width: 1080px) {
    .contact-btn button {
        font-size: 44px;
    }
} */