/* Main Hero Container */
.hero-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

.hero-container-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
    border-right: 2px dashed rgba(128, 128, 128, 0.377);
    width: clamp(390px, 100%, 1080px);
}

/* Header */
header {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    width: clamp(355px, 100%, 1024px);
    justify-content: space-between;
}

.header-company-holder {
    display: flex;
}

.hero-container-wrapper header span {
    color: rgba(255, 255, 255, 1);
}


header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14.18px;
    font-weight: 500;
}

header nav ul li {
    padding: 10px 20px;
}

header nav ul li a {
    transition: 0.3s ease;
    color: rgba(255, 255, 255, 1);
}

header nav ul a:hover {
    color: rgba(0, 0, 0, 0.281);
}

/* Contact Sales */
.contact-sales {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
}

.contact-sales-holder {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 13.95px;
    width: 90px;
    justify-content: flex-end;
}

.contact-sales a {
    color: #fff;
}

.contact-sales-holder img {
    position: absolute;
    right: -17px;
    top: 4px;
    transition: 0.3s ease;
}

.contact-sales-holder:hover img {
    transform: translateX(5px);
}

.contact-sales button {
    padding: 7px 23px 6px 16px;
    align-items: center;
    gap: 4.8px;
    height: 33px;
    background-color: #fff;
    color: #e18538;
    border: none;
    border-radius: 16.5px;
    font-size: 13.83px;
    position: relative;
    width: 100px;
}

.contact-sales button img {
    transition: 0.3s ease-in-out;
}

.contact-sales button:hover img {
    transform: translateX(4px);
}

.contact-sales button:hover {
    background-color: rgba(0, 0, 0, 0.26);
}

/* Polygon Background */
.polygon {
    height: 650px;
    width: 100vw;
    background: hsla(266, 77%, 68%, 1);
    position: absolute;
    background-size: 200% 200%;
    clip-path: polygon(0% 0%, 0% 100%, 480% 0%);
    z-index: 1;
    top: -70px;
    overflow: hidden;
}

/* Financial Section */
.financial {
    z-index: 5;
    margin: 165px 0 175px 0;
    width: clamp(347px, 100%, 1080px);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 10px 0 10px 16px;
}

.financial h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.407);
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
}

.financial h3 img {
    margin-left: 5px;
    transition: 0.3s ease;
}

.financial h3:hover img {
    transform: translateX(5px);
}

.financial h2 {
    color: black;
    font-weight: 500;
    font-size: 83px;
    width: 100%;
    line-height: 97.76px;
    width: clamp(300px, 100%, 550px);
}

.financial p {
    width: clamp(300px, 100%, 550px);
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
}

.chart-container {
    position: relative;
    top: -830px;
    left: 176px;
}

/* Absolute Positioned Images */
.chart-images,
.phone-img {
    position: absolute;
    overflow: hidden;
}

.chart-images {
    z-index: 3;
}

.phone-img {
    top: 100px;
    left: -20px;
    box-shadow: -1px 13px 11px #00000029;
    border-radius: 28px;
    z-index: 4;
}

/* Contact Sales Button Section */
.contact-sales-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-btn {
    background-color: #0a2540;
    padding-left: 16px;
    display: flex;
    align-items: center;
    border-radius: 15.5px;
    width: 111px;
    height: 33px;
    position: relative;
    transition: 0.3s ease;
}

.contact-btn button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
}

.contact-btn img {
    position: absolute;
    top: 13px;
    right: 17px;
    transition: 0.3s ease;
}

.contact-btn:hover {
    background-color: rgba(128, 128, 128, 0.693);
}

.contact-btn:hover img {
    transform: translateX(5px);
}

/* Sales Contact Section */
.contact-sales-btn {
    display: flex;
    align-items: center;
    position: relative;
}

.contact-sales-btn h4 {
    color: #0a2540;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.contact-sales-btn img {
    position: fixed;
    top: 7px;
    right: -12px;
}

@media screen and (max-width: 1440px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 97%, 210% 0%);
    }
}

@media screen and (max-width: 1024px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 90%, 292% 0%);
    }

    .contact-sales-holder {
        display: none;
    }

    .contact-sales-btn {
        display: none;
    }

    .header-company-holder {
        width: clamp(379px, 100%, 1024px);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    .header-company-holder img {
        width: 59.7px;
        position: fixed;
    }

    .contact-sales button {
        display: none;
    }

    .navlist {
        display: none;
        flex-direction: column;
        background-color: #333;
        border-radius: 12px;
        width: 100vw;
        height: 100vh;
        transition: 1s ease;
    }

    .navlist.active {
        display: flex;
    }

    .navlist li a {
        color: #fff;
    }

    .menu-icon {
        cursor: pointer;
        position: fixed;
        background-color: #00000029;
        padding: 20px;
        border-radius: 12px;
        right: 15px;
    }

    .menu-icon span {
        background-color: #fff;
        height: 2px;
        position: absolute;
        width: 50%;
        left: 0;
        transition: all 0.3s ease;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 4px;
    }

    .menu-icon span:first-child {
        top: 15px;
    }

    .menu-icon span:last-child {
        bottom: 13px;
    }

    .menu-icon:hover span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active span:first-child,
    .menu-iconac.active span:last-child {
        top: 50%;
    }

    .menu-icon.active span:first-child {
        transform: rotate(45deg);
    }

    .menu-icon.active span:last-child {
        transform: rotate(-45deg);
    }


}

@media screen and (max-width: 768px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 88%, 480% 0%);
    }

    .financial h2 {
        font-size: 53.02px;
        width: 384px;
    }

    .financial p {
        width: 304px;
    }
}

@media screen and (max-width:390px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 69%, 480% 0%);
    }

    /* .financial {
        margin: 160px 0 73px 0;
    } */

    .financial h2 {
        font-size: 46.02px;
        font-weight: 500;
        line-height: 53.94px;
    }

    .financial p {
        color: rgba(66, 84, 102, 1);
    }

    .chart-container {
        display: none;
    }
}