/* Main Hero Container */
.hero-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

.hero-container-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
    border-right: 2px dashed rgba(128, 128, 128, 0.377);
    width: var(--container-wrapper);
}

/* Header */
header {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    width: var(--container-wrapper);
    justify-content: space-between;
}

.header-company-holder {
    display: flex;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14.18px;
    font-weight: 500;
}

header nav ul li {
    padding: var(--gap-small) 20px;
}

header nav ul li a {
    transition: 0.3s ease;
    color: var(--navlist-color);
}

header nav ul a:hover {
    color: rgba(0, 0, 0, 0.281);
}

/* Contact Sales */
.contact-sales {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
}

.contact-sales-holder {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 13.95px;
    width: 90px;
    justify-content: flex-end;
}

.contact-sales a {
    color: #fff;
}

.contact-sales-holder img {
    position: absolute;
    right: -17px;
    top: 4px;
    transition: 0.3s ease;
}

.contact-sales-holder:hover img {
    transform: translateX(5px);
}

.contact-sales button {
    padding: 7px 23px 6px 16px;
    align-items: center;
    gap: 4.8px;
    height: 33px;
    background-color: #fff;
    color: #e18538;
    border: none;
    border-radius: 16.5px;
    font-size: 13.83px;
    position: relative;
    width: 100px;
}

.contact-sales button img {
    transition: 0.3s ease-in-out;
}

.contact-sales button:hover img {
    transform: translateX(4px);
}

.contact-sales button:hover {
    background-color: rgba(0, 0, 0, 0.26);
}

/* Polygon Background */
.polygon {
    height: 650px;
    width: 100vw;
    background: var(--polygon-bg);
    position: absolute;
    background-size: 200% 200%;
    clip-path: polygon(0% 0%, 0% 100%, 480% 0%);
    z-index: 1;
    top: -70px;
    overflow: hidden;
}

/* Financial Section */
.financial {
    z-index: 5;
    margin: 165px 0 175px 0;
    width: var(--container-wrapper);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: var(--gap-small) 0 var(--gap-small) 16px;
}

.financial h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.407);
    color: var(--navlist-color);
    padding: 5px 10px;
    border-radius: 30px;
}

.financial h3 img {
    margin-left: 5px;
    transition: 0.3s ease;
}

.financial h3:hover img {
    transform: translateX(5px);
}

.financial h2 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 83px;
    width: 100%;
    line-height: 90.76px;
    width: clamp(300px, 100%, 550px);
}

.financial p {
    width: clamp(300px, 100%, 550px);
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
    color: var(--text-light);
}

.chart-container {
    position: relative;
    top: -830px;
    left: 176px;
}

.chart-container .payment-container {
    position: absolute;
    z-index: 5;
    top: 90px;
    background: #fff;
    border-radius: 45px;
    width: 270px;
    padding: 24px 16px 28px 16px;
    display: flex;
    flex-direction: column;
    color: rgba(10, 37, 64, 1);
    align-items: center;
    box-shadow: 0px 5px 50px rgba(10, 37, 64, 0.5);

    left: -7px;
}

.chart-container .input-box input {
    padding: 5px;
}

.chart-container .input-box label {
    margin-bottom: 2px;
}

.chart-container .product-title {
    margin: 10px;
}

.chart-container .apple-pay {
    margin: 0 0 10px 0;
}

.chart-container .product-image {
    height: 70px;
}

.chart-container .visa-ph {
    top: 21px;
}

/* Absolute Positioned Images */
.chart-images,
.phone-img {
    position: absolute;
    overflow: hidden;
}

.chart-container .visa-p {
    top: 8px;

}

.chart-container .trans {
    top: 7px;
}




.chart-images {
    z-index: 3;
    left: 20px;
}

.phone-img {
    top: 100px;
    left: -20px;
    box-shadow: -1px 13px 11px #00000029;
    border-radius: 28px;
    z-index: 4;
}

/* Contact Sales Button Section */
.contact-sales-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-btn {
    background-color: #0a2540;
    padding-left: 16px;
    display: flex;
    align-items: center;
    border-radius: 15.5px;
    width: 111px;
    height: 33px;
    position: relative;
    transition: 0.3s ease;
}

.contact-btn button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
}

.contact-btn img {
    position: absolute;
    top: 13px;
    right: 17px;
    transition: 0.3s ease;
}

.contact-btn:hover {
    background-color: rgba(128, 128, 128, 0.693);
}

.contact-btn:hover img {
    transform: translateX(5px);
}

/* Sales Contact Section */
.contact-sales-btn {
    display: flex;
    align-items: center;
    position: relative;
}

.contact-sales-btn h4 {
    color: #0a2540;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.contact-sales-btn img {
    position: fixed;
    top: 7px;
    right: -12px;
}

@media screen and (max-width: 1440px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 97%, 210% 0%);
    }
}

@media screen and (max-width: 1024px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 90%, 292% 0%);
    }

    .contact-sales-holder {
        display: none;
    }

    .contact-sales-btn {
        display: none;
    }

    .header-company-holder {
        width: clamp(379px, 100%, 1024px);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    .header-company-holder img {
        width: 59.7px;
        position: fixed;
    }

    .contact-sales button {
        display: none;
    }

    .navlist {
        display: none;
        flex-direction: column;
        background-color: rgb(48, 38, 38);
        width: 103vw;
        height: 100vh;
        transition: 4s ease;
    }

    .navlist.active {
        position: fixed;
        z-index: -1;
        display: flex;
        right: -2px;
        top: 0;
    }

    .nav-list li a {
        color: #fff;
        font-size: 20px;
    }

    .menu-icon {
        cursor: pointer;
        position: fixed;
        background-color: #ffffff8b;
        padding: 20px;
        border-radius: 15px;
        right: 15px;
    }

    .menu-icon span {
        background-color: #fff;
        height: 2px;
        position: absolute;
        width: 50%;
        left: 0;
        transition: all 0.3s ease;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 4px;
    }

    .menu-icon span:first-child {
        top: 15px;
    }

    .menu-icon span:last-child {
        bottom: 13px;
    }

    .menu-icon.active span:first-child {
        transform: rotate(45deg);
        top: 50%;
    }

    .menu-icon.active span:last-child {
        transform: rotate(-45deg);
        bottom: 50%;
    }

    .menu-icon span:nth-child(2) {
        opacity: 1;
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
        z-index: 1;
    }

    .menu-icon.active {
        z-index: 1;
        background-color: transparent;
    }

    header nav ul li a {
        font-size: 20px;
        color: #fff;
    }

}

@media screen and (max-width: 768px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 88%, 480% 0%);
    }

    .financial h2 {
        font-size: 53.02px;
        width: 384px;
    }
    
    .financial p {
        width: 304px;
    }
}

@media screen and (max-width:390px) {
    .polygon {
        clip-path: polygon(0% 0%, 0% 69%, 480% 0%);
    }
    
    .financial h2 {
        font-size: 43.02px;
        line-height: 53.94px;
        font-weight: 500;
    }

    .chart-container {
        display: none;
    }
}