.logo {
    height: 250px;
    display: flex;
    justify-content: center;
}

.logo-wrapper {
    display: flex;
    width: 1080px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    border-left: 2px dashed rgba(128, 128, 128, 0.377);
    border-right: 2px dashed rgba(128, 128, 128, 0.377);
}

.logo-compani-conteiner {
    display: flex;
}

.logo-grid {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.logo-grid img {
    width: 200px;
    height: 40px;
}
