.ready-conteiner {
    display: flex;
    justify-content: center;
    padding: 128px 0 287px 0;
    background: #f6f9fc;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    position: relative;
    overflow: hidden;
}

.ready-conteiner-wrapper {
    width: var(--container-wrapper);
    display: flex;
    gap: 112px;
    justify-content: center;
    border-left: 2px dashed var(--border-color);
    border-right: 2px dashed var(--border-color);
}

.ready-conteiner-explore {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #0A2540;
    padding: 0 16px 16px 16px;
    width: clamp(315px, 100%, 412px);
}

.ready-conteiner-explore p a {
    color: #635BFF;
    text-decoration: none;
}

.ready-conteiner-button {
    display: flex;
    gap: 16px;
    align-items: center;
}

.ready-conteiner-button span {
    color: #635BFF;
}

.ready-conteiner-button button {
    background-color: #635BFF;
    border-radius: 16px;
    padding: 4px 26px 4px 16px;
    border: 2px;
    color: #FFF;
}

.ready-conteiner-card-wrapper {
    width: 540px;
    height: 177px;
    display: flex;
}

.ready-conteiner-pricing {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 0 16px;
    font-size: 13px;
}

.ready-conteiner-pricing-img {
    height: 40px;
}

.ready-conteiner-pricing span {
    display: flex;
    gap: 5px;
    color: #635BFF;
}

.ready-conteiner-pricing h4 {
    color: #0A2540;
    border-left: #635BFF;
}

.ready-conteiner-pricing p {
    width: 187px;
    color: #425466;
    line-height: 24px;
}

.rectagle {
    position: absolute;
    height: 72px;
    width: 104%;
    bottom: 55px;
    z-index: 10;
    rotate: -5deg;
    display: flex;
    justify-content: space-between;
}

.left-rectangle {
    position: relative;
    height: 90px;
}

.left-rectangle .left-rectangle-purple {
    width: 490.19px;
    background-color: #7a73fe92;
    height: 40px;
    z-index: 1000;
    position: absolute;
}

.left-rectangle-blue {
    position: absolute;
    top: -31px;
    left: 271px;
    z-index: 22;
    width: 160.88px;
    height: 40px;
    background: #7feaffbc;
}

.right-rectangle {
    position: absolute;
    width: 490.19px;
    height: 80px;
    z-index: 200;
    right: 0;
}


.right-rectangle-purple {
    background: #7a73fe92;
    position: absolute;
    height: 40px;
    z-index: 201;
    width: 160.88px;
    right: 247px;
}

.right-rectangle-blue {
    background: #7feaffbc;
    position: absolute;
    width: 490.19px;
    height: 40px;
    z-index: 200;
    top: -32px;
    left: 30px;
}

.universal-button {
    position: relative;
}

.universal-button .arrow-right {
    position: absolute;
    bottom: 3px;
    right: 25px;
}


@media screen and (max-width: 1440px) {
    .rectagle {
        rotate: -9deg;
        bottom: 55px;
    }

    .left-rectangle-purple {
        left: -220px;
    }

    .left-rectangle-blue {
        left: 85px;
    }

    .right-rectangle-purple {
        right: 100px;
    }

    .right-rectangle-blue {
        left: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .ready-conteiner {
        clip-path: polygon(0 0, 100% 0, 270% 70%, 0% 100%);
    }

    .ready-conteiner-explore {
        align-self: flex-start;
    }

    .ready-conteiner-wrapper {
        flex-wrap: wrap;
    }

    .rectagle {
        rotate: -6deg;
        bottom: -5px;
    }

    .left-rectangle-purple {
        left: -430px;
    }

    .left-rectangle-blue {
        left: -117px;
    }

    .right-rectangle-purple {
        right: -117px;
    }

    .right-rectangle-blue {
        left: 417px;
    }
}

@media screen and (max-width: 768px) {
    .ready-conteiner-card-wrapper {
        flex-wrap: wrap;
    }

    .ready-conteiner {
        clip-path: polygon(0 0, 100% 0, 530% 70%, 0% 100%);
    }

    .rectagle {
        rotate: -5deg;
    }
}

@media screen and (max-width: 390px) {
    .rectagle {
        rotate: -8deg;
    }
}