@import url("./slider.css");

:root {
    --border-color: rgba(128, 128, 128, 0.377);
    --primary-color: #0a2540;
    --secondary-color: rgba(0, 212, 255, 1);
    --navlist-color: rgba(255, 255, 255, 1);
    --text-light: #0a2540b9;
    --background-color: #f6f9fc;
    --button-bg: #fff;
    --button-hover: rgba(0, 0, 0, 0.26);
    --polygon-bg: hsla(266, 77%, 68%, 1);

    --padding-large: 120px 0;
    --gap-large: 96px;
    --gap-small: 10px;
}