@import url("./herro.css");
@import url("./logoContainer.css");
@import url("./footer.css");
@import url("./mainContainer.css");
@import url("./globe.css");
@import url("./slider.css");
@import url("./startap.css");
@import url("./developer.css");
@import url("platform.css");

@font-face {
    font-family: inter;
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: inter;
    scroll-behavior: smooth;
}

button,
li,
a {
    cursor: pointer;
}

body {
    overflow: auto;
    /* Allows scrolling */
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

body {
    scrollbar-width: none;
    /* Firefox */
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    transition: .2s ease;
}