@import url("./herro.css");


@font-face {
    font-family: inter;
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: inter;
}

button,li,a {
    cursor: pointer;
}
body{
    /* scrollbar-width: none; */
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}